client/client
server/server
examples/server/target
examples/client/target

examples/server/crashes/*
examples/server/hangs/*
examples/client/work/*
examples/server/crashes
examples/server/hangs
examples/client/work
