examples/server/target
examples/client/target

examples/server/archive/*
examples/server/output/*
examples/server/target.dSYM/*

examples/client/input/*
examples/client/output/*
examples/client/dict.txt

cmd/e2e-test/work/*

bazel-*
