<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>roving</title>
    </head>
    <body>
		<h1>Fuzzers</h1>
		<table>
			<tr>
				<th>name</th>
				<th>start_time</th>
				<th>last_update</th>
				<th>fuzzer_pid</th>
				<th>cycles_done</th>
				<th>execs_done</th>
				<th>execs_per_sec</th>
				<th>paths_total</th>
				<th>paths_favored</th>
				<th>paths_found</th>
				<th>paths_imported</th>
				<th>max_depth</th>
				<th>cur_path</th>
				<th>pending_favs</th>
				<th>pending_total</th>
				<th>variable_paths</th>
				<th>bitmap_cvg</th>
				<th>unique_crashes</th>
				<th>unique_hangs</th>
				<th>last_path</th>
				<th>last_crash</th>
				<th>last_hang</th>
				<th>exec_timeout</th>
				<th>afl_banner</th>
				<th>afl_version</th>
				<th>command_line</th>
			</tr>
		{{range $node, $state := .}}
		{{$data := $state.Stats}}
			<tr>
				<td>{{$node}}</td>
				<td>{{$data.StartTime}}</td>
				<td>{{$data.LastUpdate}}</td>
				<td>{{$data.FuzzerPid}}</td>
				<td>{{$data.CyclesDone}}</td>
				<td>{{$data.ExecsDone}}</td>
				<td>{{$data.ExecsPerSec}}</td>
				<td>{{$data.PathsTotal}}</td>
				<td>{{$data.PathsFavored}}</td>
				<td>{{$data.PathsFound}}</td>
				<td>{{$data.PathsImported}}</td>
				<td>{{$data.MaxDepth}}</td>
				<td>{{$data.CurPath}}</td>
				<td>{{$data.PendingFavs}}</td>
				<td>{{$data.PendingTotal}}</td>
				<td>{{$data.VariablePaths}}</td>
				<td>{{$data.BitmapCvg}}</td>
				<td>{{$data.UniqueCrashes}}</td>
				<td>{{$data.UniqueHangs}}</td>
				<td>{{$data.LastPath}}</td>
				<td>{{$data.LastCrash}}</td>
				<td>{{$data.LastHang}}</td>
				<td>{{$data.ExecTimeout}}</td>
				<td>{{$data.AflBanner}}</td>
				<td>{{$data.AflVersion}}</td>
				<td>{{$data.CommandLine}}</td>
			</tr>
		{{end}}
		</table>
	</body>
</html>

